html {
    background-color: rgb(26, 26, 46);
}
h1{
    color: rgb(221, 221, 221);
}
nav{
    font-size: 20px;
    color: rgb(221, 221, 221);
}
.topnav {
    background-color: none;
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
    margin-top: 10px;
}
.topnav a {
    float: left;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
.topnav a:hover{
    color:burlywood;
}
.topnav a.active{
    color:blanchedalmond; 
}
.list a{
    font-size: 20px;
    color: rgb(173, 173, 210);
    text-decoration: none;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    font-family: arial;
    font-size: 14px;
}
.card button {
    box-shadow: rgb(71, 223, 156);
    border: rgb(71, 223, 156);
    outline: 0;
    padding: 12px;
    color: #1F1B24;
    background-color: #CF6679;
    text-align: pointer;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}
.clearfix {
    overflow: hidden;
    clear: both;
}
section{
    width: 1300px;
    margin: 0 auto;
    margin-top: 10px;
}
@media screen and (max-width: 1000px){
    .content {
        max-width: 1000px;
        margin: 0 auto;
    }
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        text-align: center;
        font-family: arial;
        font-size: 14px;
    }
}

@media screen and (max-width: 607px){
    .content {
        max-width: 100%;
        margin: 0 auto;
    }
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        text-align: center;
        font-family: arial;
        font-size: 14px;
    }
}