@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
h1{
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #8d58ff;
    font-family: 'Quicksand', sans-serif;
    ;
}

h1:before{
    content: '';
    background:  #fe3a80;
    opacity: .5;
    filter: blur(40px);
}
nav{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #8d58ff;
    font-family: 'Quicksand', sans-serif;
}
.topnav {
    background-color: none;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover{
    color:burlywood;
}
.topnav a.active{
    color:blanchedalmond; 
}
